<div class="app-main__selected">
  {{#if selectedChat}}
  {{{ChatHeader}}}

  <div class="app-main__feed chat-feed">
    {{#each Messeges}}
      {{{this}}}
    {{/each}}
  </div>

  {{{ChatFooter}}}
  {{else}}
    {{{Empty}}}
  {{/if}}
</div>
