<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Messenger</title>
  <link rel="stylesheet" href="./src/style/main.css" />
</head>

<body>
  {{> AppMenu}}
  <main class="app-layout">
    <div class="app-layout__sidebar app-sidebar">
      <div class="app-sidebar__profile">
        <a class="btn btn_small btn_light" href="/pages/profile.hbs">
          {{> UI/Icons/20/Settings style="btn-icon btn-icon_light"}}
          Профиль
        </a>
      </div>
      <div class="app-sidebar__search search-sidebar">
        {{> UI/Icons/20/Search style="search-sidebar__icon"}}
        <input type="search" name="search" class="form-element search-sidebar__input" id="sidebar-search"
          placeholder="Поиск" />
      </div>
      <div class="app-sidebar__contacts contacts-sidebar">

        {{#each contacts}}
        <div class="contacts-sidebar__item contacts-item contacts-item_{{this.isActive}}">
          <div class="contacts-item__icon">
            <span class="contacts-item__icon_default"></span>
          </div>
          <div class="contacts-item__body">
            <div class="contacts-item__header">
              <div class="contacts-item__title">{{this.name}}</div>
              <div class="contacts-item__date">{{this.lastMessege.date}}</div>
            </div>
            <div class="contacts-item__content">
              <div class="contacts-item__text">
                <span
                  class="text-600 text-base contacts-item__isSelf contacts-item__isSelf_{{this.lastMessege.isSelf}}">Вы:</span>
                {{this.lastMessege.text}}
              </div>
              <div class="contacts-item__badge contacts-item__badge_{{this.unread.isBadge}}">{{this.unread.count}}</div>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
      <div class="app-sidebar__new-chat">
        <button type="button" class="btn btn_small btn_light">
          {{> UI/Icons/20/Plus style="btn-icon btn-icon_light"}}
          Создать чат
        </button>
      </div>
    </div>
    <div class="app-layout__main app-main">
      <div class="app-main__selected">
        <div class="app-main__header chat-header">
          <div class="chat-header__preview">
            <span class="chat-header__icon chat-header__icon_default"></span>
          </div>
          <div class="chat-header__title">Илья</div>
          <div class="chat-header__edit">
            <div class="dropdown">
              <button class="btn btn_icon btn_light">
                {{> UI/Icons/24/More style="btn-icon btn-icon_light"}}
              </button>
              <div class="dropdown__body dropdown__body_left dropdown__body_bottom">
                <button class="dropdown__item btn btn_small btn_link">
                  {{> UI/Icons/20/Plus style="btn-icon btn-icon_dark"}}
                  Добавить пользователя
                </button>
                <button class="dropdown__item btn btn_small btn_link">
                  {{> UI/Icons/20/Edit style="btn-icon btn-icon_dark"}}
                  Редактировать чат
                </button>
                <button class="dropdown__item btn btn_small btn_link btn_danger">
                  {{> UI/Icons/20/Delete style="btn-icon btn-icon_danger"}}
                  Удалить чат
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="app-main__feed chat-feed">
          <div class="chat-feed__date">19 июня</div>
          <div class="chat-feed__item chat-feed__item_text chat-feed__item_contact feed-item">
            <div class="feed-item__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur at ad quo
              voluptatum neque reprehenderit deleniti molestias tenetur, pariatur laudantium totam tempore accusantium
              eligendi praesentium ab maxime fugit corrupti necessitatibus.</div>
            <div class="feed-item__time">11:56</div>
          </div>
          <div class="chat-feed__item chat-feed__item_img chat-feed__item_contact feed-item">
            <div class="feed-item__body">
              <img src="/static/images/mock-chat.jpg" alt="mock-chat.jpg">
            </div>
            <div class="feed-item__time">11:57</div>
          </div>
          <div class="chat-feed__item chat-feed__item_text chat-feed__item_self feed-item">
            <div class="feed-item__body">Круто!</div>
            <div class="feed-item__time feed-item__time_self">
              {{> UI/Icons/14/Check style="feed-item__icon-check"}}
              12:00
            </div>
          </div>
        </div>
        <div class="app-main__footer chat-footer">
          <div class="chat-footer__attach">
            <div class="dropdown">
              <button class="btn btn_icon btn_light">
                {{> UI/Icons/24/Attach style="btn-icon btn-icon_light"}}
              </button>
              <div class="dropdown__body dropdown__body_right dropdown__body_top">
                <button class="dropdown__item btn btn_small btn_link">
                  {{> UI/Icons/20/PhotoFile style="btn-icon btn-icon_dark"}}
                  Фото или видео
                </button>
                <button class="dropdown__item btn btn_small btn_link">
                  {{> UI/Icons/20/File style="btn-icon btn-icon_dark"}}
                  Файл
                </button>
                <button class="dropdown__item btn btn_small btn_link">
                  {{> UI/Icons/20/Location style="btn-icon btn-icon_dark"}}
                  Локация
                </button>
              </div>
            </div>
          </div>
          <div class="chat-footer__input">
            <input type="text" class="form-element form-element_round-full" placeholder="Сообщение">
          </div>
          <div class="chat-footer__send">
            <button class="btn btn_primary btn_icon btn_round-full">
              {{> UI/Icons/24/ArrowForward style="btn-icon btn-icon_white"}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>

</html>
