<div class="app-sidebar__contacts contacts-sidebar">
  {{#each data}}
    <div
      class="contacts-sidebar__item contacts-item contacts-item_{{isActive}}"
    >
      <div class="contacts-item__icon">
        <span class="contacts-item__icon_default"></span>
      </div>
      <div class="contacts-item__body">
        <div class="contacts-item__header">
          <div class="contacts-item__title">{{name}}</div>
          <div class="contacts-item__date">{{lastMessege.date}}</div>
        </div>
        <div class="contacts-item__content">
          <div class="contacts-item__text">
            <span
              class="text-600 text-base contacts-item__isSelf contacts-item__isSelf_{{lastMessege.isSelf}}"
            >Вы:</span>
            {{lastMessege.text}}
          </div>
          <div
            class="contacts-item__badge contacts-item__badge_{{unread.isBadge}}"
          >{{unread.count}}</div>
        </div>
      </div>
    </div>
  {{/each}}
</div>
