<div class="app-main__footer chat-footer">
  <div class="chat-footer__attach">
    <div class="dropdown">
      {{{AttachDropdownButton}}}
      <div class="dropdown__body dropdown__body_right dropdown__body_top">
        {{{AttachMeadiButton}}}
        {{{AttachFileButton}}}
        {{{AttachLocationButton}}}
      </div>
    </div>
  </div>
  <div class="chat-footer__input">
    {{{ChatInput}}}
  </div>
  <div class="chat-footer__send">
    {{{SendButton}}}
  </div>
</div>