<main class="profile-layout">
  {{!-- {{{Navigation}}} --}}
  <div class="profile-sidebar">
    <div class="profile-sidebar__back">
      {{{GoBackButton}}}
    </div>
  </div>
  <div class="profile-main">
    <div class="profile-container">

      <div class="profile-header">
        {{{ProfileAvatar}}}
        {{{ProfileName}}}
      </div>

      <div class="profile-info">
        {{{ProfileInfo}}}
      </div>

      <div class="profile-controls">
        {{{EditProfileButton}}}
        {{{EditPasswordButton}}}
        {{{LogoutButton}}}
      </div>
    </div>
  </div>
  {{{ModalProfile}}}
  {{{ModalPassword}}}
  {{{ModalChangeAvatar}}}
</main>
