<form class="form-layout">
    {{{EmailField}}}
    {{{LoginField}}}
    {{{FirstNameField}}}
    {{{SecondNameField}}}
    {{{PhoneField}}}
    {{{PasswordField}}}
    {{{PasswordToField}}}
  <div class="btn-group mt-2">
    {{{RigisterButton}}}
    {{{AuthButton}}}
  </div>
</form>
