<form class="form-layout">
    {{{EmailField}}}
    {{{LoginField}}}
    {{{FirstNameField}}}
    {{{SecondNameField}}}
    {{{DisplayNameField}}}
    {{{PhoneField}}}
  <div class="btn-group mt-2">
    {{{SaveButton}}}
  </div>
</form>
