<ul class="profile-info__list">
  <li class="profile-info__item">
    <span class="profile-info__title"><strong>Почта</strong></span>
    <span class="profile-info__value">{{{email}}}</span>
  </li>
  <li class="profile-info__item">
    <span class="profile-info__title"><strong>Логин</strong></span>
    <span class="profile-info__value">{{{login}}}</span>
  </li>
  <li class="profile-info__item">
    <span class="profile-info__title"><strong>Имя</strong></span>
    <span class="profile-info__value">{{{first_name}}}</span>
  </li>
  <li class="profile-info__item">
    <span class="profile-info__title"><strong>Фамилия</strong></span>
    <span class="profile-info__value">{{{second_name}}}</span>
  </li>
  <li class="profile-info__item">
    <span class="profile-info__title"><strong>Имя в чате</strong></span>
    <span class="profile-info__value">{{{display_name}}}</span>
  </li>
  <li class="profile-info__item">
    <span class="profile-info__title"><strong>Телефон</strong></span>
    <span class="profile-info__value">{{{phone}}}</span>
  </li>
</ul>
